.page {
  background-color: black;
  color: white;
  font-family: "Inter", "Arial", sans-serif;
}

.page__section {
  margin: 0 auto;
  position: relative;
  max-width: 880px;
  width: 100%;
}

.page__content {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 548px) and (max-width: 920px) {
  .page__section {
    max-width: calc(100% - 40px);
  }
}
